@import './variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-weight: 400;
}

.Main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  overflow: visible;
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    338deg,
    rgba(255, 255, 255, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  &_logo {
    fill: $color-blue;
  }
}
