@tailwind base;
@tailwind components;
@tailwind utilities;

.cusLG-blue {
  background: linear-gradient(
    338deg,
    rgba(255, 255, 255, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
}

.cus-blue {
  color: rgb(60, 104, 129);
}

.cus-bg-blue {
  background: rgb(60, 104, 129);
}

.cus-fill-blue {
  fill: rgb(60, 104, 129);
  color: rgb(60, 104, 129);
}

.h-80per {
  max-height: 80vh;
}
