//site colors
$color-blue: #a1c9e0;
$color-green: #a1e0cd;
$color-red: #e2908d;
$color-grey: #63656f;
$color-light-grey: #d1d1d1;
$color-offwhite: #ebe6dd;
$color-black: #1b1a1f;

// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-display: 'Raleway', sans-serif;

//Menu
$menu-width: 30vw;

//responsive bp
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
